div[name='todotext'] {
  margin-bottom: 0px;
}

.App {
  margin-top: 25px;
}

.ant-btn {
  margin-top: 15px;
}

h2,
h3,
h4 {
  text-align: center;
}

span[role='img'] {
  color: red;
}

.true {
  text-decoration: line-through;
}

.hideaction {
  display: none;
}

.CalendarLabel,
.TitleLength {
  margin-left: 30px;
}
