.action-v
{
  color: green;
  font-weight: bold;
  font-size: 1.5rem;
  padding:5px;

}

.action-x
{
  color: red;
  font-weight: bold;  
  font-size: 1.5rem;
  padding:5px;
}

.App {
  margin-top: 25px;
}

.ant-btn {
  margin-top: 15px;
}

h3 {
  text-align: center;
}

span[role='img'] {
  color: red;
}
